<!-- src/app/app.component.html -->

<div class="navbar">
  <h1 class="navbar-title">Aquera InternAssessment</h1>
</div>

<div class="container">
  <div class="planet-card" *ngIf="planets.length > 0">
    <h2>{{ planets[currentPage - 1].name }}</h2>
    <p><strong>Climate:</strong> {{ planets[currentPage - 1].climate }}</p>
    <p><strong>Population:</strong> {{ planets[currentPage - 1].population }}</p>
    <p><strong>Terrain:</strong> {{ planets[currentPage - 1].terrain }}</p>
    <p><strong>Rotation Period:</strong> {{ planets[currentPage - 1].rotation_period }}</p>
    <p><strong>Orbital Period:</strong> {{ planets[currentPage - 1].orbital_period }}</p>
    <p><strong>Gravity:</strong> {{ planets[currentPage - 1].gravity }}</p>
    <p><strong>Surface Water:</strong> {{ planets[currentPage - 1].surface_water }}</p>
    <p><strong>Hover mouse to see some effect</strong></p>
  </div>
</div>

  <div class="pagination-controls" style="align-content: center;">
    <button [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">Previous</button>
    <span>{{ currentPage }} / {{ planets.length }}</span>
    <button [disabled]="currentPage === planets.length" (click)="onPageChange(currentPage + 1)">Next</button>
  </div>

<div class="note">
  <h1>Make sure you are connected to Internet to see the proper output</h1>
  <strong>
    Certainly! Here's a note you can use:
    <br>
    I hope this message finds you well. I wanted to provide an update on my progress with the Aquera InternAssessment project. I have made substantial progress in fetching and displaying information about planets from the SWAPI, and I've successfully created a user-friendly interface with responsive design.
    
    However, I encountered some challenges while attempting to retrieve detailed information about residents from the provided API. Despite my best efforts, there were issues that required more time to resolve. I believe with a bit more time and careful consideration, I could overcome these challenges and implement the desired functionality.
    
    I want to assure you that I am committed to delivering a high-quality solution. I am currently exploring alternative approaches and seeking additional resources to address the issues I encountered. I am confident that with a little more time, I will be able to seamlessly integrate the residents' data into the project.
    
    Thank you for your understanding, and I appreciate your patience as I work to overcome these challenges. I am dedicated to delivering a comprehensive and polished project, and I will keep you updated on my progress.
    <br>
    Best regards,
    <br>
    GanaSasank
  </strong>
</div>